<ion-header>
  <ion-navbar>
    <ion-title>{{ leagueName }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-group *ngFor="let round of matches; let i = index">
      <ion-item-divider color="light">Round {{i + 1}}</ion-item-divider>        
      <button ion-item *ngFor="let match of round" text-center>
        <span class="home-player">{{ match.home.name }}</span>
        <span class="scoreboard">4 - 4</span>
        <span class="away-player">{{ match.visitor.name }}</span>
      </button>
    </ion-item-group>
  </ion-list>
</ion-content>
