page-match {
    button {
        span {
            font-size: 20px;    
        }
        
        span.scoreboard {
            font-size: 25px;
            font-weight: bold;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}
